@font-face {
    font-family: 'Cloister Black';
    src: url(assets/font/CloisterBlack.ttf);
}
body {
    background-color: rgb(253, 251, 251);
    margin: 0;
}
main{
    padding-top: 10%;
    width: 60%;
    margin: auto;
}
aside{
    position:absolute;
    top: 20%;
    padding: 2% 0 0 2%;
}
svg{
    width: 20px;
}
table{
    color: white;
    position: absolute;
    font-size: 0.8em;
    z-index: 3;
    top: 300%;
    border: 1px solid #f9ce1a;
    padding: 0 9.5em 0 0;
    text-align: left;
}
#card, #minha_foto{
    position:absolute;
}
#card{
    z-index: 1;
    position: absolute;
    left: 0;

}
#minha_foto{
    z-index: 0;
    width: 204px;
    height: 154px;
    top: 136%;
    position: absolute;

}
#carta h3{
    font-size: 1.2em;
    top: 265%;
    z-index: 2;
    color: #ffffff;
    position:absolute;
    font-family: 'Cloister Black' ;
}
#atk-def{
    display: inline;
    font-size: 1.2em;
    top: 363%;
    left: 70%;
    z-index: 999;
    color: #ffffff;
    position:absolute;
}
#ficha{
    font-size: 1em;
    line-height: 0.1em;
}
#oclin{
    width: 20px;
}
#cabecalho {
    position: fixed;
    top: 0;
    background-color: #2f4f4f;
    width: 100%;
    height: 20%;
    margin-left: -10;
    text-align: center;
    z-index: 999;
}
#listas div{
    padding: 1% 0 0 0;
    display: inline-block;
    vertical-align: top;
}
.lado-direito{
    float: right;
}
.lado-esquerdo{
    float: left;
}